@model VMRoomType
@{
    ViewData["Title"] = "RoomTypeUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Oda Tipi Güncelle</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Administrator/Home/Index">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Oda Tipi Güncelle</li>
                </ol>
            </div><!-- /.col -->
            <div class="col-12">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="container">

    @if (ViewBag.RoomTypeResult != null)
    {
        <div class="row">
            @if (ViewBag.RoomTypeResult.ResultStatus == ResultStatus.Success)
            {
                <div class="col alert-success">
                    <span>@ViewBag.RoomTypeResult.Message</span>
                </div>
            }
            else
            {
                <div class="col alert-danger">
                    <span>@ViewBag.RoomTypeResult.Message</span>
                </div>
            }
        </div>
    }

    <section id="contact" class="contact">
        <div class="container">

            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-10 php-email-form">
                    <a asp-action="RoomTypeDetail" asp-controller="RoomType" asp-route-id="@Model.ID" class="btn btn-info mb-3"><i class="nav-icon far ion-arrow-left-b"></i> Geri</a>
                    <form asp-action="Update" asp-controller="RoomType" method="post">
                        <input asp-for="Status" type="hidden" value="@Model.Status" />
                        <input asp-for="ID" type="hidden" value="@Model.ID" />
                        <div asp-validation-summary="All">

                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <label class="col-form-label">Oda Tip Adı</label>
                                <input asp-for="RoomTypeName" class="form-control" type="text" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-form-label">Oda Tip Fiyatı</label>
                                @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @type = "currency" })
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-form-label">Kişi Sayısı</label>
                                <input asp-for="NumberOfPeople" class="form-control" type="number" min="1" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-form-label">Yatak Sayısı</label>
                                <input asp-for="NumberOfBed" class="form-control" type="number" min="1" />
                            </div>
                            <div class="col-12 form-group">
                                <label class="col-form-label">Açıklama</label>
                                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                            </div>
                            <div class="col-12 form-group d-flex justify-content-center">
                                <button class="btn btn-primary" type="submit">Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>


