@model VMRoomType


<div class="col-lg-8">
    <div class="room-details-article">
        @if (Model.VMRoomPictures.Count > 0)
        {
            <div class="room-details-slider owl-carousel owl-theme owl-loaded owl-drag border border-danger">



                <div class="owl-stage-outer border border-primary">
                    <div class="owl-stage border border-warning" style="transform: translate3d(-1314px, 0px, 0px); transition: all 0.25s ease 0s; width: 3066px;">
                        @foreach (var item in Model.VMRoomPictures)
                        {
                            <div class="owl-item cloned border border-dark" style="width: 408px; margin-right: 30px;">
                                <div class="room-details-item border border-danger">
                                    <img src="@item.PictureUrl">
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.VMRoomPictures.Count > 1)
                {
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="bx bx-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="bx bx-chevron-right"></i></button></div><div class="owl-dots disabled"></div>
                }
            </div>
        }
        <div class="room-details-title">
            <h2>@Model.RoomTypeName</h2>
            <ul>
                <li>
                    Tam Pansiyon : ??????/Gecelik/Oda
                </li>
                <li>
                    Her Şey Dahil : ?????/Gecelik/Oda
                </li>
            </ul>
        </div>
        <div class="room-details-content">
            @if (Model.Description != null)
            {
                <p>
                    @Model.Description
                </p>
            }

            @if (Model.VMRoomFacilities.Count > 0)
            {
                <ul>
                    @foreach (var item in Model.VMRoomFacilities)
                    {
                        <li>
                            @item.FacilityName
                            @if (item.Description != null)
                            {
                                <ol>
                                    <li>@item.Description</li>
                                </ol>
                            }
                        </li>
                    }
                </ul>
            }
        </div>

    </div>
</div>