@model List<VMReservationList>
@{
    ViewData["Title"] = "NotPaidReservatinsWarning";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Rezervasyonlar</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Reception/Home/Index">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Rezervasyonlar</li>
                </ol>
            </div><!-- /.col -->
            <div class="col-12">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="container">
    <a asp-action="Index" asp-controller="Reservation" class="btn btn-info mb-3"><i class="nav-icon far ion-arrow-left-b"></i> Rezervasyonlar</a>
    @if (ViewBag.ReservationResult != null)
    {
        <div class="row">
            @if (ViewBag.ReservationResult.ResultStatus == ResultStatus.Success)
            {
                <div class="col alert-success">
                    <span>@ViewBag.ReservationResult.Message</span>
                </div>
            }
            else
            {
                <div class="col alert-danger">
                    <span>@ViewBag.ReservationResult.Message</span>
                </div>
            }
        </div>
    }
    <!-- /.card -->

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Rezervasyon tarihine 2 gün ve altı kalan kayıtların listesi</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-hover" id="example2">
                <thead>
                    <tr>
                        <th scope="col">Rezerv. No</th>
                        <th scope="col">İsim Soyisim</th>
                        <th scope="col">Rezerv. T.</th>
                        <th scope="col">Oda Tipi</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Ödeme</th>
                        <th scope="col">Rezerv. Tipi</th>
                        <th scope="col">Rezerv. Durumu</th>
                        <th scope="col">İşlem</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.ReservationType == Entities.Enum.ReservationType.Reception)
                                {
                                    <th scope="row">BLGHTLR-@item.ID</th>
                                }
                                else
                                {
                                    <th scope="row">BLGHTLW-@item.ID</th>
                                }
                                <td>@item.FullName</td>
                                <td>@item.ReservationDate</td>
                                <td>@item.RoomTypeName</td>
                                @if (item.DiscountedPrice != 0)
                                {
                                    <td>@item.DiscountedPrice.ToString("C2")</td>
                                }
                                else
                                {
                                    <td>@item.Price.ToString("C2")</td>
                                }
                                @if (item.Payment)
                                {
                                    <td class="text-success">Ödendi</td>
                                }
                                else
                                {
                                    <td class="text-danger">Ödenmedi</td>
                                }
                                <td>@item.ReservationType</td>
                                @if (item.ReservationStatus == ReservationStatus.RezervasyonIptalEdildi)
                                {
                                    <td class="font-weight-bold text-danger">@item.ReservationStatus</td>
                                }
                                else if (item.ReservationStatus == ReservationStatus.RezervasyonTamamlandi)
                                {
                                    <td class="font-weight-bold text-success">@item.ReservationStatus</td>
                                }
                                else
                                {
                                    <td>@item.ReservationStatus</td>
                                }
                                <td>
                                    <a asp-action="ReservationDetail" asp-controller="Reservation" asp-route-reservationType="@item.ReservationType" asp-route-id="@item.ID" class="btn btn-primary">Detay</a>
                                </td>
                                <td>
                                    <a asp-action="UnPaidCancelReservation" asp-controller="Reservation" asp-route-reservationType="@item.ReservationType" asp-route-id="@item.ID" class="btn btn-danger mb-3">İptal</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section dataTable{
    <script>
        $(function () {
            $('#example2').DataTable(
                //{
                //"paging": true,
                //"lengthChange": false,
                //"searching": false,
                //"ordering": true,
                //"info": true,
                //"autoWidth": false,
                //"responsive": true,
                //}
            );
        });
    </script>
}


