@model VMContact

@{
    if (Model != null && Model.Adress != null)
    {
        <p>@Model.Adress</p>
    }
    if (Model != null && Model.Phone1 != null)
    {
        <strong>Phone:</strong> @Model.Phone1
        <br>
    }
    if (Model != null && Model.Phone2 != null)
    {
        <strong>Phone:</strong> @Model.Phone2
        <br>
    }
    if (Model != null && Model.Fax != null)
    {
        <strong>Phone:</strong> @Model.Fax
        <br>
    }
    if (Model != null && Model.Email != null)
    {
        <strong>Email:</strong> @Model.Email
        <br>
    }
}