@model VMWebReservation
@{
    ViewData["Title"] = "Rezervasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<AppUser> signInManager
    @inject UserManager<AppUser> userManager
}

<main id="main">

    <section id="contact" class="contact">
        <div class="container">

            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">

                    <div class="info-wrap">
                        @if (ViewBag.RoomTypeName != null)
                        {
                            <h2>@ViewBag.RoomTypeName</h2>
                        }
                    </div>

                </div>

            </div>

            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                    @if (TempData["FormError"] != null)
                    {
                        <div class="text-center"><h6>@TempData["FormError"]</h6></div>
                    }
                    <form class="php-email-form" asp-controller="Reservation" asp-action="WebReservationComplete">
                        <input type="hidden" asp-for="RoomTypeID" value="@Model.RoomTypeID" />
                        <input type="hidden" asp-for="CheckInDate" value="@Model.CheckInDate" />
                        <input type="hidden" asp-for="CheckOutDate" value="@Model.CheckOutDate" />
                        <input type="hidden" asp-for="NumberOfPeople" value="@Model.NumberOfPeople" />
                        <input type="hidden" asp-for="ServicePackID" value="@Model.ServicePackID" />
                        <input type="hidden" asp-for="Price" value="@Model.Price" />
                        <input type="hidden" asp-for="DiscountedPrice" value="@Model.DiscountedPrice" />
                        @if (signInManager.IsSignedIn(User))
                        {
                            <input type="hidden" asp-for="AppUserID" value="@userManager.GetUserId(User)" />
                        }
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" asp-for="FirstName" class="form-control" placeholder="İsim" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" asp-for="LastName" class="form-control" placeholder="Soyisim" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="email" asp-for="Email" class="form-control" placeholder="Eposta" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Telefon" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Description" rows="5" placeholder="Mesaj (Zorunlu Değil)"></textarea>
                            <div class="validate"></div>
                        </div>

                        <div class="text-center"><button type="submit">Rezervasyon Oluştur</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section>

</main>

