@model VMWebReservation
@{
    ViewData["Title"] = "Rezervasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<AppUser> signInManager
    @inject UserManager<AppUser> userManager
}

<main id="main">

    <section id="contact" class="contact">
        <div class="container">

            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">

                    <div class="info-wrap">
                        @if (ViewBag.RoomTypeName.RoomTypeName != null)
                        {
                            <h2>@ViewBag.RoomTypeName.RoomTypeName</h2>
                        }
                    </div>

                </div>

            </div>

            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                    @if (TempData["FormError"] != null)
                    {
                        <div class="text-center"><h6>@TempData["FormError"]</h6></div>
                    }
                    <form class="php-email-form" asp-controller="Reservation" asp-action="WebReservationComplete">
                        <div class="form-row">
                            <input type="hidden" asp-for="RoomTypeID" value="@ViewBag.RoomTypeName.ID" />
                            @if (signInManager.IsSignedIn(User))
                            {
                                <input type="hidden" asp-for="AppUserID" value="@userManager.GetUserId(User)" />
                            }
                            <div class="col-md-3 form-group">
                                <label class="col-form-label" asp-for="CheckInDate">Giriş Tarihi</label>
                                @if (Model != null)
                                {
                                    <input class="form-control" asp-for="CheckInDate" type="date" id="checkinDate" value="@Model.CheckInDate.ToString("yyyy-MM-dd")">
                                }
                                else
                                {
                                    <input class="form-control" asp-for="CheckInDate" type="date" id="checkinDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                }
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="col-form-label" asp-for="CheckOutDate">Çıkış Tarihi</label>
                                @if (Model != null)
                                {
                                    <input class="form-control" asp-for="CheckOutDate" type="date" id="checkoutDate" value="@Model.CheckOutDate.ToString("yyyy-MM-dd")">
                                }
                                else
                                {
                                    <input class="form-control" asp-for="CheckOutDate" type="date" id="checkoutDate" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
                                }
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="col-form-label" asp-for="NumberOfPeople">Kişi Sayısı</label>
                                <select asp-for="NumberOfPeople" class="form-control" style="height:44px">
                                    @for (int i = 1; i <= ViewBag.RoomTypeName.NumberOfPeople; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="col-form-label" asp-for="ServicePackID">Hizmet Paketi</label>
                                <select asp-for="ServicePackID" class="form-control" style="height:44px">
                                    @if (ViewBag.ServicePacks.Count > 0)
                                    {
                                        @foreach (var item in ViewBag.ServicePacks as List<VMServicePack>)
                                        {
                                            <option value="@item.ID">@item.PackName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" asp-for="FirstName" class="form-control" placeholder="İsim" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" asp-for="LastName" class="form-control" placeholder="Soyisim" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="email" asp-for="Email" class="form-control" placeholder="Eposta" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Telefon" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Description" rows="5" placeholder="Mesaj (Zorunlu Değil)"></textarea>
                            <div class="validate"></div>
                        </div>

                        <div class="text-center"><button type="submit">Rezervasyon Oluştur</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section>

</main>

