@model VMWebReservation
@{
    ViewData["Title"] = "Rezervasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @inject SignInManager<AppUser> signInManager
    @inject UserManager<AppUser> userManager
}

<main id="main">

    <section id="contact" class="contact">
        <div class="container">

            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-10 info-wrap d-flex justify-content-between">
                    <div class="d-flex align-self-center">
                        @if (ViewBag.RoomType.RoomTypeName != null)
                        {
                            <h2>@ViewBag.RoomType.RoomTypeName</h2>
                        }
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8 pl-0 d-flex justify-content-end"><span>Oda Fiyatı :</span></div>
                                <div class="col-4 pl-0">@(((decimal)ViewBag.RoomType.Price).ToString("C2"))</div>
                            </div>
                            <div class="row">
                                <div class="col-8 pl-0 d-flex justify-content-end">@ViewBag.ServicePack.PackName :</div>
                                <div class="col-4 pl-0">@(((decimal)ViewBag.ServicePack.PackPrice).ToString("C2"))</div>
                            </div>
                            <div class="row">
                                <div class="col-8 pl-0 d-flex justify-content-end">Gece/Gün :</div>
                                <div class="col-4 pl-0">@((Model.CheckOutDate.Date-Model.CheckInDate.Date).TotalDays)/Gece</div>
                            </div>
                            @if (Model.Price != Model.DiscountedPrice)
                            {
                                <div class="row">
                                    <div class="col-8 pl-0 d-flex justify-content-end text-success">İndirim Tutarı :</div>
                                    <div class="col-4 pl-0 text-success">@((Model.Price-Model.DiscountedPrice).ToString("C2"))</div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-12"><hr /></div>
                                <div class="col-8 pl-0 d-flex justify-content-end font-weight-bold">Toplam Tutar :</div>
                                <div class="col-4 pl-0 font-weight-bold">@Model.DiscountedPrice.ToString("C2")</div>
                            </div>
                        </div>


                    </div>

                    @*<div class="col border" style="font-size:15px;">
                            <div class="col-6 d-flex justify-content-end">Oda Fiyatı :</div>
                            <div class="col">@(((decimal)ViewBag.RoomType.Price).ToString("C2"))</div>

                            <div class="col-6 d-flex justify-content-end">@ViewBag.ServicePack.PackName :</div>
                            <div class="col">@(((decimal)ViewBag.ServicePack.PackPrice).ToString("C2"))</div>

                            @if (Model.Price != Model.DiscountedPrice)
                            {
                                <div class="col-6 d-flex justify-content-end">İndirim Tutarı :</div>
                                <div class="col">@((Model.Price-Model.DiscountedPrice).ToString("C2"))</div>
                            }
                            <div class="col-6 d-flex justify-content-end">Ödenecek Tutar :</div>
                            <div class="col">@Model.DiscountedPrice</div>
                        </div>*@
                </div>

            </div>

            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                    @if (TempData["FormError"] != null)
                    {
                        <div class="text-center"><h6>@TempData["FormError"]</h6></div>
                    }
                    <form class="php-email-form" asp-controller="Reservation" asp-action="WebReservationComplete">
                        <input type="hidden" asp-for="RoomTypeID" value="@Model.RoomTypeID" />
                        <input type="hidden" asp-for="CheckInDate" value="@Model.CheckInDate" />
                        <input type="hidden" asp-for="CheckOutDate" value="@Model.CheckOutDate" />
                        <input type="hidden" asp-for="NumberOfPeople" value="@Model.NumberOfPeople" />
                        <input type="hidden" asp-for="ServicePackID" value="@Model.ServicePackID" />
                        <input type="hidden" asp-for="Price" value="@Model.Price" />
                        <input type="hidden" asp-for="DiscountedPrice" value="@Model.DiscountedPrice" />
                        @if (signInManager.IsSignedIn(User))
                        {
                            <input type="hidden" asp-for="AppUserID" value="@userManager.GetUserId(User)" />
                        }
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" asp-for="FirstName" class="form-control" placeholder="İsim (Zorunlu)" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" asp-for="LastName" class="form-control" placeholder="Soyisim (Zorunlu)" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="email" asp-for="Email" class="form-control" placeholder="Eposta (Zorunlu)" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Telefon (Zorunlu)" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Description" rows="5" placeholder="Mesaj (Zorunlu Değil)"></textarea>
                            <div class="validate"></div>
                        </div>

                        <div class="text-center"><button type="submit">Rezervasyon Oluştur</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section>

</main>

