@model VMWebReservation
@{
    ViewData["Title"] = "Rezervasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <section id="contact" class="contact">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">

                    <form class="php-email-form" asp-controller="Reservation" asp-action="WebReservation">
                        <div class="form-row">
                            <div class="col-md-3 form-group">
                                <label class="col-form-label" asp-for="CheckInDate">Giriş Tarihi</label>
                                @if (Model != null)
                                {
                                    <input class="form-control" asp-for="CheckInDate" type="date" id="checkinDate" value="@Model.CheckInDate.ToString("yyyy-MM-dd")">
                                }
                                else
                                {
                                    <input class="form-control" asp-for="CheckInDate" type="date" id="checkinDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                }
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="col-form-label" asp-for="CheckOutDate">Çıkış Tarihi</label>
                                @if (Model != null)
                                {
                                    <input class="form-control" asp-for="CheckOutDate" type="date" id="checkoutDate" value="@Model.CheckOutDate.ToString("yyyy-MM-dd")">
                                }
                                else
                                {
                                    <input class="form-control" asp-for="CheckOutDate" type="date" id="checkoutDate" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
                                }
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="col-form-label" asp-for="NumberOfPeople">Kişi Sayısı</label>
                                <select asp-for="NumberOfPeople" class="form-control" style="height:44px">
                                    @for (int i = 1; i <= 4; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <div class="row"><label class="col-form-label"><br /></label></div>
                                
                                <button class="" type="submit">Odaları Listele</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>
</main>
