@model VMRegistrationCreate
@{
    ViewData["Title"] = "RoomQuery";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Kayıt Oluştur</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Reception/Home/Index">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Kayıt Oluştur</li>
                </ol>
            </div><!-- /.col -->
            <div class="col-12">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section id="contact" class="contact">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-12">
                @if (TempData["RegistrationCreateResult"] != null)
                {
                    <div class="text-center alert-warning"><h6>@TempData["RegistrationCreateResult"]</h6></div>
                }
                <a asp-action="Index" asp-controller="Registration" class="btn btn-info mb-3"><i class="nav-icon far ion-arrow-left-b"></i> Kayıtlar</a>
                @if (Model != null)
                {
                    <form class="php-email-form" asp-controller="Registration" asp-action="RoomQuery">
                        <div class="form-row">
                            <div class="col-md-3 form-group">
                                <label class="col-form-label" asp-for="CheckInDate">Giriş Tarihi</label>
                                @if (Model.CheckInDate != DateTime.Parse("01-01-0001"))
                                {
                                    <input class="form-control" asp-for="CheckInDate" type="date" id="checkinDate" value="@Model.CheckInDate.ToString("yyyy-MM-dd")">
                                }
                                else
                                {
                                    <input class="form-control" asp-for="CheckInDate" type="date" id="checkinDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                }
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="col-form-label" asp-for="CheckOutDate">Çıkış Tarihi</label>
                                @if (Model.CheckOutDate != DateTime.Parse("01-01-0001"))
                                {
                                    <input class="form-control" asp-for="CheckOutDate" type="date" id="checkoutDate" value="@Model.CheckOutDate.ToString("yyyy-MM-dd")">
                                }
                                else
                                {
                                    <input class="form-control" asp-for="CheckOutDate" type="date" id="checkoutDate" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
                                }
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="col-form-label" asp-for="NumberOfPeople">Kişi Sayısı</label>
                                <select asp-for="NumberOfPeople" class="form-control" style="height:44px">
                                    @for (int i = 1; i <= 4; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="col-form-label" asp-for="ServicePackID">Hizmet Paketi</label>
                                <select asp-for="ServicePackID" class="form-control" style="height:44px">
                                    @if (Model.VMServicePacks.Count > 0)
                                    {
                                        @foreach (var item in Model.VMServicePacks)
                                        {
                                            <option value="@item.ID">@item.PackName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <div class="row"><label class="col-form-label"><br /></label></div>

                                <button class="" type="submit">Odaları Listele</button>
                            </div>
                        </div>
                    </form>
                }

                <div class="row justify-content-center mt-3" data-aos="fade-up">
                    <div class="col-lg-12">
                        @if (Model.VMRoomTypes != null && Model.VMRoomTypes.Count > 0)
                        {
                            var numberOfDays = (Model.CheckOutDate.Date - Model.CheckInDate.Date).TotalDays;

                            @foreach (var item in Model.VMRoomTypes)
                            {
                                <form class="php-email-form mt-3" asp-controller="Registration" asp-action="SelectedRoomRegistration">
                                    <div class="row">
                                        <input type="hidden" asp-for="CheckInDate" value="@Model.CheckInDate" />
                                        <input type="hidden" asp-for="CheckOutDate" value="@Model.CheckOutDate" />
                                        <input type="hidden" asp-for="NumberOfPeople" value="@Model.NumberOfPeople" />
                                        <input type="hidden" asp-for="ServicePackID" value="@Model.ServicePackID" />
                                        <input type="hidden" asp-for="RoomTypeID" value="@item.ID" />
                                        <input type="hidden" asp-for="Price" value="@item.TotalPrice" />
                                        <div class="col-xl-10 col-12">
                                            <div class="row">
                                                <div class="col-xl-5 border border-dark col-12 p-0">
                                                    <!--RoomPhotosCarousel-->
                                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                                        <div class="carousel-inner">
                                                            @foreach (var picture in item.VMRoomPictures)
                                                            {
                                                                <div class="carousel-item active">
                                                                    <img style="height:15rem" src="@picture.PictureUrl" class="d-block w-100">
                                                                </div>
                                                            }
                                                        </div>
                                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                    <!--EndRoomPhotosCarousel-->
                                                </div>
                                                <div class="col-xl-7 col-12">
                                                    <div class="row h-100">
                                                        <div class="col-12 text-center mt-2"><h2>@item.RoomTypeName</h2><hr /></div>
                                                        <div class="col-12 col-xl-4">
                                                            <div class="row h-100 align-items-center">
                                                                <div class="col-xl-12 col-6 text-center">
                                                                    <h6>Kapasite</h6>
                                                                    <hr />
                                                                </div>
                                                                <div class="col-xl-12 col-6 text-center">
                                                                    <h6>@item.NumberOfPeople</h6><hr />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-xl-4">
                                                            <div class="row h-100 align-items-center">
                                                                <div class="col-xl-12 col-6 text-center">
                                                                    <h6>Yatak Sayısı</h6>
                                                                    <hr />
                                                                </div>
                                                                <div class="col-xl-12 col-6 text-center">
                                                                    <h6>@item.NumberOfBed</h6><hr />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-xl-4">
                                                            <div class="row h-100 align-items-center">
                                                                <div class="col-xl-12 col-6 text-center">
                                                                    <h6>Fiyat/@numberOfDays Gece</h6>
                                                                    <hr />
                                                                </div>
                                                                <div class="col-xl-12 col-6 text-center">
                                                                    <h6>@item.TotalPrice.ToString("C2")</h6><hr />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mt-4">
                                                    <p class="font-weight-lighter"><b>Detay: </b>@item.Description</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-12 p-0 d-flex justify-content-center align-content-center">
                                            <button class="btn btn-danger" type="submit">Rezervasyon</button>
                                        </div>

                                    </div>
                                </form>

                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

