@model VMRegistrationCreate
@{
    ViewData["Title"] = "SelectedRoomRegistration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Kayıt Oluştur</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Reception/Home/Index">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Kayıt Oluştur</li>
                </ol>
            </div><!-- /.col -->
            <div class="col-12">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<main id="main">

    <section id="contact" class="contact">
        <div class="container">

            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                    <a asp-action="Index" asp-controller="Reservation" class="btn btn-info mb-3"><i class="nav-icon far ion-arrow-left-b"></i> Rezervasyonlar</a>
                </div>
                <div class="col-lg-10 info-wrap d-flex justify-content-between">

                    <div class="d-flex align-self-center">
                        @if (ViewBag.RoomType.RoomTypeName != null)
                        {
                            <h2>@ViewBag.RoomType.RoomTypeName</h2>
                        }
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8 pl-0 d-flex justify-content-end"><span>Oda Fiyatı :</span></div>
                                <div class="col-4 pl-0">@(((decimal)ViewBag.RoomType.Price).ToString("C2"))</div>
                            </div>
                            <div class="row">
                                <div class="col-8 pl-0 d-flex justify-content-end">@ViewBag.ServicePack.PackName :</div>
                                <div class="col-4 pl-0">@(((decimal)ViewBag.ServicePack.PackPrice).ToString("C2"))</div>
                            </div>
                            <div class="row">
                                <div class="col-8 pl-0 d-flex justify-content-end">Gece/Gün :</div>
                                <div class="col-4 pl-0">@((Model.CheckOutDate.Date-Model.CheckInDate.Date).TotalDays)/Gece</div>
                            </div>
                            <div class="row">
                                <div class="col-12"><hr /></div>
                                <div class="col-8 pl-0 d-flex justify-content-end font-weight-bold">Toplam Tutar :</div>
                                <div class="col-4 pl-0 font-weight-bold">@Model.Price.ToString("C2")</div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                    <form class="php-email-form" asp-controller="Registration" asp-action="RegistrationCreate">
                        <div asp-validation-summary="All">

                        </div>
                        <input type="hidden" asp-for="RoomTypeID" value="@Model.RoomTypeID" />
                        <input type="hidden" asp-for="CheckInDate" value="@Model.CheckInDate" />
                        <input type="hidden" asp-for="CheckOutDate" value="@Model.CheckOutDate" />
                        <input type="hidden" asp-for="NumberOfPeople" value="@Model.NumberOfPeople" />
                        <input type="hidden" asp-for="ServicePackID" value="@Model.ServicePackID" />
                        <input type="hidden" asp-for="Price" value="@Model.Price" />
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" asp-for="FirstName" class="form-control" placeholder="İsim" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" asp-for="LastName" class="form-control" placeholder="Soyisim" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="email" asp-for="Email" class="form-control" placeholder="Eposta (Zorunlu Değil)" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Telefon" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Description" rows="5" placeholder="Mesaj (Zorunlu Değil)"></textarea>
                            <div class="validate"></div>
                        </div>

                        <div class="text-center"><button type="submit">Kayıt Oluştur</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section>

</main>

